.sdgImage:hover{
  cursor: pointer;
}

.readMore {
  color: white !important;
  margin-bottom: 20px !important;
  margin-top: auto;
}

.readMore:hover {
  text-decoration: underline !important;
}

.theme {
  background-color: #e4e5e6;
  border-radius: 10px;
  color: #455262;
  font-size: 14px;
  padding: 5px;
  margin: 5px;
  display: inline-block;
}

.themes {
  margin-bottom: 20px;
  margin-top: auto;
}

.theme:hover{
  cursor: pointer;
}

.flipIcon{
  margin-bottom: 10px;
   float: right 
}

.flipIcon:hover{
  cursor:pointer;
}

.sector:hover{
  cursor: pointer;
}