body {
  font-family: sans-serif;
}

.add-project {
  padding: 20px !important;
  background-color: #e5253b !important;
  border-color: #e5253b !important;
}

#dropdown-basic-button {
  background-color: #343434 !important;
  border-color: #343434 !important;
}

.dropdown-menu {
  transform: translate3d(5px, 35px, 0px)!important;
}

.form-control {
  background-color: #343434 !important;
  border-color: #343434 !important;
  color: white !important;
}

.form-control:focus {
  box-shadow: 0 0 3px #545454 inset !important;
  outline: none;
}

::placeholder {
  color: white !important;
}

.card {
  perspective: 500px;
  transition: transform 1s;
  height: 370px !important;
  width: auto;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: 4px 10px 10px 4px #afafaf;
  overflow: auto;
}
.card:active {
  transform: rotateY(180deg);
  transition: transform 1s;
}

.card:hover {
  cursor: pointer;
}

.card-title {
  font-weight: 200 !important;
  font-size: 2rem !important;
}

.btn-link {
  color: #26bde2 !important;
}

.card-body {
  flex: none !important;
  padding-top: 0px !important;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .card-column .card {
    column-count: auto;
  }
  .card-title {
    /* font-size: 10px !important; */
  }
}
